.container {
  --padding: 0.5rem;
  --header-height: 3.5em;

  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: var(--header-height) var(--padding) var(--padding);
  display: grid;
  grid-gap: var(--padding);
}

.logo {
  width: 7em;
}

.main {
  flex: 1;
  padding: 4em var(--padding);
  width: 100%;
  background: var(--background-color-2);
  border-radius: var(--section-border-radius);
}

.header {
  position: fixed;
  z-index: 100;
  height: var(--header-height);
  top: 0;
  margin-left: calc(var(--padding) * -1);
  background: var(--background-color-1);
  width: 100%;
  max-width: inherit;
  padding: 0 calc(var(--padding) * 2) 0;
  display: flex;
  align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  background: url(../../public/images/menu-mask.svg) no-repeat left top;
  bottom: -1em;
  left: var(--padding);
  width: 1em;
  height: 1em;
  display: block;
}

.header::before {
  content: '';
  position: absolute;
  background: url(../../public/images/menu-mask.svg) no-repeat left top;
  transform: scaleX(-1);
  bottom: -1em;
  right: var(--padding);
  width: 1em;
  height: 1em;
  display: block;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.activeMenuItem {
  border-bottom: 2px solid var(--brand-color-1);
}

.menu li {
  list-style: none;
  padding: 0.5em 0.5em;
  margin: 0 0.5em;
  font-weight: 700;
}

.downloadSection {
  background: var(--background-color-7) ;
  background-size: 100%;
  color: var(--text-color-1);
  height: 30em;
  width: 100%;
  border-radius: var(--section-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadSectionInner {
  display: grid;
  grid-gap: 2em;
  padding: 1em;
  text-align: center;
}

.subText {
  font-size: 1.25em;
  font-family: var(--font-work-sans);
}

.downloadSection h2 {
  font-size: 4em;
}

.downloadSection h2 {
  margin: 0;
  color: var(--text-color-1);
}

.downloadSection h2 {
  color: var(--text-color-1);
}

.footer {
  color: #fff;
  border-radius: var(--section-border-radius);
  padding: 3em;
  display: grid;
  grid-gap: 5em;
  background: var(--brand-color-3);
}

.footer h3 {
  color: inherit;
}

.footer .grid {
  display: grid;
  grid-gap: 2em;
}

.missionStatement {
  max-width: 20em;
}

.footerMenu li {
  list-style: none;
  margin: 1em 0;
}

@media (min-width: 1200px) {
  .container {
    --padding: 1rem;
    --header-height: 5em;

    padding: var(--header-height) var(--padding) var(--padding);
    background: var(--background-color-5);
    grid-gap: var(--padding);
  }

  .main {
    padding: 7.5em 5em;
  }

  .downloadSection h2 {
    font-size: 6em;
  }

  .logo {
    width: auto;
  }

  .footer {
    padding: 5em;
  }

  .footer .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .downloadSection {
    height: 40em;
    background-size: initial;
  }

  .subText {
    font-size: 1.5em;
  }
}
